/* Structure */
table 
{
    width: 80%;
    margin:0 auto;
}  
.mat-form-field 
{
  font-size: 14px; 
  margin-left:16cm;
}    
button
{
  margin-left:1cm; 
  background-color: rgb(215, 255, 196); 
}
/* input
{
  width: 30%;
} */